* {box-sizing: border-box}
#logo, #list {
	font-family: 'Pacifico', cursive;
	letter-spacing: 0.2em;
}
input {
	padding-left: 0.5em;
	margin: 0.5em 0.5em 0.5em 0em;
}
.user-home-page {
	max-width: 20em;
	min-height: 25em;
	margin: auto;
	padding: 1em;
	border: 2px solid black;
}
.heading, .form {
	text-align: center;
}
.heading h1 {
	margin-bottom: 0;
}
.hidden {
	display: none;
}
.form {
	display: block;
	float: left;
	margin: 0 1em 0 3em;
}

.list-container {
	margin-left: 3.5em;
}
.edit-list-icons {
	float: right;
}
.icon {
	border: 1px solid #eaebec;
	border-radius: 1.25em;
	width: 2.25em;
	text-align: center;
	padding: 0.15em;
	z-index: 999;
}
.icon:hover{
	cursor: pointer;
	background-color: gray;
	border-radius: 1.5rem;
}
ul {
	padding-left: 0;
	list-style: none;
}
.checked {
	text-decoration: line-through;
	color: gray;
}


#heading-background {
	height: 4.5em;
	width: 100%;
	text-align: center;
}
#heading {
	height: 4.5em;
	width: 64em;
	margin: auto;
}
#logo {
	float: left;
	margin: 0;
}
#login {
	padding-top: 1em;
	float: right;
}
#signup-background {
	width: 100%;
	height: 20em;
}
#signup-box {
	width: 64em;
	margin: auto;
}
#value-proposition {
	width: 50%;
	
}
#signup {
	width: 50%;
	float: right;
	
}
.error {
	color: red;
}
#signup-success {
	color: green;
}